html{
    overflow-x:hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    min-width: 100%;
}

tab{
    padding-left: 2em;
}
.header {
    font-size: 24px;
    text-decoration: bold;
    font-weight: bold;
    font-family: 'Roboto Slab','Lato',sans-serif;
}
.navbar-toggle {
    z-index:3;
}
.nav-link {
    color:white;
}
#center {
    display: flex;
    justify-content: center;
}
.inverse {
    color:white;
    text-shadow: 1.2px 1.2px black;
}
.title {
    text-align: center;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 28px;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Montserrat', 'Lato',open sans,sans-serif;
}
.titleinverse {
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 28px;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Montserrat', open sans,sans-serif;
}
.titledescrip {
    display: block;
    font-size: 18px;
    font-family: open sans,'Lato',sans-serif;
    text-align: center;
    padding-bottom: 35px;
}
.headerband {
    height: 3px;
    width: 50%;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 40px;
}
#skills-bar{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content:space-between;
}
#skills-bar2{
    display: none;
}

#about {
    padding-top: 60px;
    padding-bottom: 140px;
    background: white;
    margin-right: auto;
    margin-left: auto;
}

#myPic {
    padding-top: 20px;
    border-radius: 15px 30px 30px 5px;
}

#image{
    padding-left: 250px;
}
#image2{
	display: none;
}
#aboutme2{
    padding-right: 260px;
    padding-left: 260px;
    margin-right: auto;
    margin-left: auto;
}
#aboutme-bar{
    display: flex;
    padding-bottom: 40px;
    justify-content:space-between;
}
#backdrop {
    background-image: url("../images/coding.jpeg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.masthead {
    padding-top: 130px;
    padding-bottom: 130px;

    background-image: url("../images/milkyway3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#skills {
    padding-top: 60px;
    padding-bottom: 50px;
    background: rgba(0,7,12,0.4);

}
#projects {
    padding-top: 60px;
    padding-bottom: 80px;
    background: white;
    min-height: 400px;
}

.card {
    width: 16rem;
    border-style: none;
}
#contentContainer {
    background-color: white;
    padding-bottom: 200px;
}

.intro {
    font-size: 50px;
    font-family: monospace,'Lato',open sans,sans-serif;
    display: block;
    text-align: center;
}
.introdescrip {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: open sans,'Lato',sans-serif;
    text-align: center;
}

#headshot {
    border-radius: 30px 30px 30px 30px;
}

#headshotContainer {
    text-align: center;
}

#shadow {
    color: white;
    text-shadow: 1.2px 1.2px black;
}
.biodescrip {
    display: block;
    font-size: 16px;
    font-family: open sans, sans-serif;
    text-align: left;
    padding-bottom: 35px;
    padding-top: 20px;
    padding-right:100px;
    padding-left:100px;
}
.descrip {
    display: block;
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    text-align: left;
    padding-bottom: 35px;
    padding-top: 20px;
}

#see_more{
	margin-top: 10px;
    margin-bottom: 40px;
	font-size: 18px;
	font-family: 'Lato',open sans,sans-serif;
}

#company_link{
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-size: 16px;
    font-style: bold;
}
#hackathon_link{
    font-family: sans-serif;
    color: brown;
    font-size: 16px;
}
#github_link {
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-size: 20px;
}
#company_link:hover, 
#hackathon_link:hover, 
#github_link:hover,
#link:hover {
	background-color: tan;
}
.projtitle {
    font-size: 30px;
    font-family: 'Lato',open sans,sans-serif;
}
.projband{
    height: 2px;
    width: 15%;
    background-color: black;
    margin-top: -10px;
    margin-bottom: 10px;
}
.projdescrip {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}
.btn-default {
    border: solid black 1px;
    color: black;
    background-color: white;
}
.btn-default:hover {
    color: white;
    background-color: tan;
    text-shadow: 0 0 10px lightblue;
}

.link_text{
    font-family: sans-serif;
    padding-left: 15px;
}

.cards-bar {
    display: flex;
    padding-top: 60px;
    padding-left: 40px;
}

#socialWrapper {
    display:flex;
    justify-content:space-between;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}
#footer {
    text-align: right;
    font-size: 16px;
    font-family: monospace;
    padding-right: 10px;
    padding-top: 180px;
}
.inversefooter {
    color:white;
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    text-align: center;
    padding-top: 10px;
    text-shadow: 1.2px 1.2px black;
}

#contact {
    padding-top: 150px;
    padding-bottom: 10px;
    margin-bottom: -100px;
    
    background:url("../images/desk-background.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.buttons-bar{
    display: flex;
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
    justify-content:space-between;
}

.fa-5x {
    color: white;
}
.fa-5x:hover {
    color: tan;
    text-shadow: 0 0 10px lightblue;    
}
