#wrapper{
    transform: translate3d(0,0,0);
    transition: transform .5s ease-in-out;
}

.content{
    float: left;
    width: 100%;
    height: 370px;
    background-color: rgba(255,255,255,0.8);
}

#contentContainer{
    width: 100%;
    height: 400px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    overflow: hidden;
}
#navLinks {
    text-align: center;
    width: 100%;
}
#navLinks ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
}
#navLinks ul li {
    float: left;
    text-align: center;
    margin: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #CCCCCC;
    padding: 5px;
    border-radius: 50%;
}
#navLinks ul li:hover {
    background-color: lightgreen;
    transform: scale(1.5);
}
#navLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
    transform: scale(1.5);
}
#navLinks ul li.active:hover {
    background-color: lightgreen;
    color: lightgreen;
}

.navigation{
    text-align: center;
    display: inline-block;
		width: 100%;
    margin-top: 10px;
    display:flex;
    justify-content:space-between;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}
#navPrev{
    text-align: left;
    padding-left: 30px;
}
#navNext{
    text-align: right;
    padding-right: 30px;
}
#navPrev button, #navNext button {
    background-color: white;
    padding: 5px 20px;
    border-radius: 4px;
    border: 2px solid gray;
}
#navPrev button:hover, #navNext button:hover {
    background: lightgreen;
    color: white;
}
