@media screen and (max-width: 1200px){
    #aboutme2 {
        padding-right: 170px;
        padding-left: 170px;
    }
    #image{
        padding-left: 150px;
    }
}

@media screen and (max-width: 1085px){
    #contentContainer{
        height: 380px;
    }
    .content {
        height: 340px;
        background-color: blue;
    }
}

@media screen and (max-width: 990px){
    #writing-links {
        padding-right: auto;
        padding-left: auto;
        text-align: center;
        
        width:100%;
        display: block;

    }
    #card1-small {
        width: 100%;
        display: block;
    }

    #card2-small {
        width: 100%;
        display: block;
    }

    #card3-small {
        width: 100%;
        display: block;
    }
    #card1 {
        display: none;
    }

    #card2 {
        display: none;
    }

    #card3 {
        display: none;
    }
    #image{
        padding-left: 80px;
    }
    .biodescrip {
        padding-left: 40px;
    }
    tab2 {
        padding-left: 4em;
    }
    #socialWrapper {
        max-width: 50%
    }
    .buttons-bar{
        max-width: 65%;
    }
    .card {
        display: none;
    }
     .cards-bar{
        padding-top: 30px;
        padding-right: 15px;
        padding-left: 60px;
     }
     .projdescrip{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
     }
    #aboutme2 {
        padding-right: 120px;
        padding-left: 120px;
    }
}
@media screen and (max-width: 850px){
    #image {
        display: none;
    }
	#image2 {
		display: block;
		padding-bottom: 20px;
        text-align: center;
	}
	#navLinks ul li {
		padding: 4px;
	}
}

@media screen and (max-width: 750px){

    #aboutme2{
        padding-right: 70px;
        padding-left: 70px;
    }
    .descrip,.biodescrip  {
        font-size: 16px;
    }
    .biodescrip {
        padding-left: 0px;
        padding-right: 0px;
    }
     .intro {
        font-size: 60px;
    }
    tab1 {
        padding-left: 2em;
    }
    .header {
        font-size: 20px;
    }
    .masthead{
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #skills-bar{
        display: none;
    }
    #skills-bar2{
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 20px;
    }
    #image {
        display: none;
    }
    #socialWrapper {
        max-width: 55%
    }
    #endquote {
        font-size: 20px;
    }
    #about{
        padding-bottom: 100px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #row4{
        font-size: 16px;
    }
    #button{
        width: 110px;
    }
    #title, .titleinverse{
        font-size: 26px;
    }
    .cards-bar {
        padding-left: 25px;
    }
}

@media screen and (max-width: 520px){
     #about, #aboutme2 {
        padding-right: 20px;
        padding-left: 20px;
    }
    .intro {
        font-size: 50px;
    }
    .headerband{
        width: 80%;
    }
    .projtitle {
        font-size: 22px;
    }
    .introdescrip, .projdescrip, .descrip {
        font-size: 14px;
    }
    .biodescrip {
        font-size: 14px;
    }
    .masthead{
        padding-left: 15px;
        padding-right: 15px;
    }
    #myPic {
        display: none;
    }
    #socialWrapper {
        max-width: 75%;
    }
    .cards-bar {
        padding-left: 10px;
    }
	#see_more{
		font-size: 14px;
	}
}

@media screen and (max-width: 400px){
    #contentContainer{
        height: 400px;
    }
    .content{
        height: 380px;
    }
    .headerband{
        width: 90%;
    }
    #socialWrapper {
        max-width: 95%
    }
}

@media screen and (max-width: 375px){
    .headerband{
        width: 90%;
    }
    #socialWrapper {
        max-width: 95%
    }
    #projectBar {
        display: none;
    }
}