@media screen and (max-width: 1200px){
    #aboutme2 {
        padding-right: 170px;
        padding-left: 170px;
        }
    #image{
        padding-left: 150px;
    }
}
@media screen and (max-width: 990px){
    .row{
        background-image: none;
        : white;
    }
    #image{
        padding-left: 0px;
    }
    tab2 {
        padding-left: 4em;
    }
    #socialWrapper {
        max-width: 50%
    }
    .buttons-bar{
        max-width: 65%;
    }
    .card {
        display: none;
    }
		.card2 {
			display: block;
		}
     .cards-bar{
        padding-top: 30px;
        padding-right: 15px;
        padding-left: 60px;
     }
     .projdescrip{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
     }
     #aboutme {
        padding-right: 140px;
        padding-left: 140px;
    }
    #aboutme2 {
        padding-right: 120px;
        padding-left: 120px;
    }
}
@media screen and (max-width: 850px){
    #image {
        display: none;
    }
		#image2 {
			display: block;
			padding-bottom: 20px;
		}
		#navLinks ul li {
			padding: 4px;
		}
}

@media screen and (max-width: 766px) {
    .collapse {
        background-color: black;
    }
}

@media screen and (max-width: 750px){
     #aboutme {
        padding-right: 100px;
        padding-left: 100px;
    }
    #aboutme2{
        padding-right: 70px;
        padding-left: 70px;
    }
    .descrip,.biodescrip  {
        font-size: 16px;
    }
     .intro {
        font-size: 60px;
    }
    tab1 {
        padding-left: 2em;
    }
    .header {
        font-size: 20px;
    }
    .row{
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 30px;
        padding-right: 30px;
        background-image: url("../images/coverpic2.jpeg");;
    }
    #skills-bar{
        display: none;
    }
    #skills-bar2{
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 20px;
    }
    #image {
        display: none;
    }
    #socialWrapper {
        max-width: 55%
    }
    #endquote {
        font-size: 20px;
    }
    #row2{
        padding-bottom: 100px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #row4{
        font-size: 16px;
    }
    #button{
        width: 110px;
    }
    #title, .titleinverse{
        font-size: 26px;
    }
    .cards-bar {
        padding-left: 25px;
    }
}

@media screen and (max-width: 520px){
     #aboutme, #aboutme2 {
        padding-right: 40px;
        padding-left: 40px;
    }
    .row{
        background-image: none;
    }
    .intro {
        font-size: 50px;
    }
    .headerband{
        width: 80%;
    }
    .projtitle {
        font-size: 22px;
    }
    .introdescrip, .projdescrip, .descrip {
        font-size: 15px;
    }
    .row{
        padding-left: 15px;
        padding-right: 15px;
    }

    #socialWrapper {
        max-width: 65%;
    }
    .cards-bar {
        padding-left: 10px;
    }
		#see_more{
			font-size: 14px;
		}
}

@media screen and (max-width: 400px){
    #contentContainer{
        height: 425px;
    }
    .headerband{
        width: 90%;
    }
    #socialWrapper {
        max-width: 85%
    }

}
