#writing-section {
	padding-top: 200px;
    padding-bottom: 100px;
    /*background: white;*/
    margin-right: auto;
    margin-left: auto;

    background:url("../images/writing2.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#writing-links {
	padding-top: 100px;
    padding-bottom: 100px;
	text-align: center;
	display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content:space-between;
    width: 80%;
}

#writing-descrip {
    display: block;
    font-size: 20px;
    font-family: open sans, sans-serif;
    color:white;
    text-shadow: 1.2px 1.2px black;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
}

#writing-title {
    text-align: center;
    color:white;
    text-shadow: 1.2px 1.2px black;
    font-size: 36px;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Montserrat', 'Lato',open sans,sans-serif;
}

#card1 {
    width: 18rem;
}

#card2 {
    width: 20rem;
}

#card3 {
    width: 22rem;
}

#card1-small {
    display: none;
}

#card2-small {
    display: none;
}

#card3-small {
    display: none;
}