.navbar-default{
	background-color: #f8f8f8;
}

.navbar-fixed-top {
	top:0;
	height: 60px;
	border-width: 0 0 1px;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #ddd;
}

@media screen and (max-width: 766px) {
    #mainNavBar {
        background-color: #ddd;
    }
}
body {
    overflow-x:hidden; 
}
tab {
    padding-left: 1em;
}
tab1 {
    padding-left: 4em;
}

tab2 {
    padding-left: 10em;
}
#space {
    height: 60px;
}

.row {
	padding-top: 200px;
    padding-bottom: 130px;
    background-color: #ECEFF4;
}

.intro {
	font-size: 70px;
	font-family: 'Lato',open sans,sans-serif,georgia;
	display: block;
    text-align: center;
}

.introdescrip {
    display: block;
    font-size: 24px;
    font-weight: bold;
    font-family: open sans,'Lato',sans-serif,georgia;
    text-align: center;

}

#socialWrapper {
    display:flex;
    justify-content:space-between;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#headerband {
    height: 12px;
    width: 80%;
    background-color: teal;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

#inverse {
    color:white;
    text-shadow: 1.2px 1.2px black;
}

.row2 {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #206199;
}
#titleband{
    height: 6px;
    width: 15%;
    background-color: teal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#button {
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
}

.button1 {
    float: right;
    margin-right: 150px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  margin-left: 150px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-left: 25px;
}

.button2:hover span:after {
  opacity: 1;
  left: 0;
}

#aboutme {
    padding-left: 200px;
    padding-right: 200px;
    margin-right: auto;
    margin-left: auto;
}

#title {
    text-align: center;
    color: black;
    text-shadow: 3px 3px white;
    font-size: 30px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}

#titleinverse {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 30px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}

.descrip {
    display: block;
	font-size: 20px;
	font-family: open sans,'Lato',sans-serif,georgia;
    text-align: left;
    padding-bottom: 35px;
    padding-top: 20px;
}

.titledescrip {
    display: block;
    font-size: 18px;
    font-family: open sans,'Lato',sans-serif,georgia;
    text-align: center;
    padding-bottom: 35px;
}

.row3 {
    padding-top: 40px;
    padding-bottom: 80px;
}

#stencilimage {
    height: 200px;
    width: 600px;
}
.allprojects{
    padding-top: 50px;
}

#card2{
    display:none;
}

#cards-bar {
    display: flex;
    padding-top: 60px;
    padding-left: 40px;
}
#buttons-bar{
    display: flex;
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
    justify-content:space-between;
}

.btn-primary:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
#projtitle {
    font-size: 30px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}
#projband{
    height: 6px;
    width: 15%;
    background-color: teal;
    margin-top: -10px;
    margin-bottom: 10px;
}
#projdescrip {
    padding-left: 30px;
    font-size: 20px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}

#stayintouch {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #C4D6D6;
}

.row4 {
	text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: Roboto,'Lato',open sans,sans-serif,georgia;
    font-size: 18px;
    background-color: #565656;
}

#endquote {
	font-style: italic;
	font-family: Roboto,'Lato',open sans,sans-serif,georgia;
	font-size: 24px;
}

@media screen and (max-width: 990px){
    tab2 {
        padding-left: 4em;
    }
    #socialWrapper {
        max-width: 50%
    }
    #buttons-bar{
        max-width: 65%;
    }
    #card {
        display: none;
    }
    #card2 {
        padding-top: 40px;
        padding-left: 50px;
        display: block;
    }
     #cards-bar{
        padding-top: 30px;
        padding-right: 15px;
        padding-left: 60px;
     }
     #projdescrip{
        padding-left: 0px;
        padding-right: 0px;
     }
     #aboutme {
        padding-right: 100px;
        padding-left: 100px;
    }
}


@media screen and (max-width: 800px){
    .intro{
        font-size: 45px;
    }
    
}

@media screen and (max-width: 750px){
    tab1 {
        padding-left: 2em;
    }
    tab2 {
        padding-left: 1em;
    }
    .row{
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #socialWrapper {
        max-width: 55%
    }
    #endquote {
        font-size: 20px;
    }
    #row4{
        font-size: 16px;
    }
    #button{
        width: 110px;
    }
    .button1 {
        margin-right: 50px;
    }
    .button2 {
        margin-left: 50px;
    }
     #cards-bar{
        padding-left: 25px;
    }
    #card2{
        padding-left: 25px;
    }
    #stencilimage {
        height: 200px;
        width: 500px;
}
}

@media screen and (max-width: 550px){
    .introdescrip{
        font-size: 20px;
    }
    .row{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #socialWrapper {
        max-width: 65%;
    }
    #cards-bar{
        padding-left: 10px;
    }
    #card2 {
        padding-left: 10px;
    }
    #aboutme {
        padding-right: 50px;
        padding-left: 50px;
    }
    #stencilimage {
        height: 180px;
        max-width: 100%;
}

}

@media screen and (max-width: 400px){
    #socialWrapper {
        max-width: 85%
    }

}