.navbar-default{
	background-color: #f8f8f8;
}

.navbar-fixed-top {
	top:0;
	height: 60px;
	border-width: 0 0 1px;
}

.navbar-toggle {
    position: relative;
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: white;
}

.navbar-nav li {
    font-size: 18px;
    margin-right: 20px;
    margin-top: 5px;
    font-weight: bold;
}

@media screen and (max-width: 766px) {
    #mainNavBar {
        background-color: black;
    }
}


body {
    overflow-x:hidden; 
}

tab {
    padding-left: 1em;
}
tab1 {
    padding-left: 4em;
}

tab2 {
    padding-left: 10em;
}


#header {
    font-size: 24px;
    text-decoration: underline;
    font-weight: bold;
    font-family: open sans,'Lato',sans-serif,georgia;
}

#center {
    display: flex;
    justify-content: center;
}

#inverse {
    color:white;
    text-shadow: 1.2px 1.2px black;
}

#shadow {
    color: black;
    text-shadow: 1.2px 1.2px transparent;
}

#title {
    text-align: center;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 30px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}

#titleinverse {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 30px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}

.titledescrip {
    display: block;
    font-size: 18px;
    font-family: open sans,'Lato',sans-serif,georgia;
    text-align: center;
    padding-bottom: 35px;
}

#headerband {
    height: 12px;
    width: 80%;
    background-color: teal;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

#skills-bar{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    justify-content:space-between;
}

#titleband{
    height: 6px;
    width: 15%;
    background-color: teal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#aboutme {
    padding-left: 200px;
    padding-right: 200px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    padding-top: 180px;
    padding-bottom: 180px;
    background-image: url("../images/mepresenting.jpeg");
    background-size: cover;
}
.row2 {
    padding-top: 30px;
    padding-bottom: 100px;
    background-image: url("../images/coding2.jpeg");
    background-size: cover;
}

.row3 {
    padding-top: 30px;
    padding-bottom: 100px;
    background-image: url("../images/coding.jpeg");
    background-size: cover;
}
.row4 {
    padding-top: 40px;
    padding-bottom: 80px;
}

.intro {
    font-size: 70px;
    font-family: 'Lato',open sans,sans-serif,georgia;
    display: block;
    text-align: center;
}

.introdescrip {
    display: block;
    font-size: 24px;
    font-weight: bold;
    font-family: open sans,'Lato',sans-serif,georgia;
    text-align: center;
}

.descrip {
    display: block;
    font-size: 20px;
    font-family: open sans,'Lato',sans-serif,georgia;
    text-align: left;
    padding-bottom: 35px;
    padding-top: 20px;
}


#projtitle {
    font-size: 30px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}
#projband{
    height: 6px;
    width: 15%;
    background-color: teal;
    margin-top: -10px;
    margin-bottom: 10px;
}
#projdescrip {
    padding-left: 30px;
    font-size: 20px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}
.allprojects{
    padding-top: 50px;
}

#card2{
    display:none;
}

#cards-bar {
    display: flex;
    padding-top: 60px;
    padding-left: 40px;
}

#socialWrapper {
    display:flex;
    justify-content:space-between;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
#footer {
    text-align: right;
    margin-right: 30px;
    margin-top: 50px;
}
#stayintouch {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ECEFF4;
}

#buttons-bar{
    display: flex;
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
    justify-content:space-between;
}

@media screen and (max-width: 990px){
    tab2 {
        padding-left: 4em;
    }
    #socialWrapper {
        max-width: 50%
    }
    #buttons-bar{
        max-width: 65%;
    }
    #card {
        display: none;
    }
    #card2 {
        padding-top: 40px;
        padding-left: 50px;
        display: block;
    }
     #cards-bar{
        padding-top: 30px;
        padding-right: 15px;
        padding-left: 60px;
     }
     #projdescrip{
        padding-left: 0px;
        padding-right: 0px;
     }
     #aboutme {
        padding-right: 100px;
        padding-left: 100px;
    }
}


@media screen and (max-width: 800px){
    .intro{
        font-size: 45px;
    }
    
}

@media screen and (max-width: 750px){
    tab1 {
        padding-left: 2em;
    }
    tab2 {
        padding-left: 1em;
    }
    .row{
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #socialWrapper {
        max-width: 55%
    }
    #endquote {
        font-size: 20px;
    }
    #row4{
        font-size: 16px;
    }
    #button{
        width: 110px;
    }
    .button1 {
        margin-right: 50px;
    }
    .button2 {
        margin-left: 50px;
    }
     #cards-bar{
        padding-left: 25px;
    }
    #card2{
        padding-left: 25px;
    }
    #stencilimage {
        height: 200px;
        width: 500px;
}
}

@media screen and (max-width: 550px){
    .introdescrip{
        font-size: 20px;
    }
    .row{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #socialWrapper {
        max-width: 65%;
    }
    #cards-bar{
        padding-left: 10px;
    }
    #card2 {
        padding-left: 10px;
    }
    #aboutme {
        padding-right: 50px;
        padding-left: 50px;
    }

}

@media screen and (max-width: 400px){
    #socialWrapper {
        max-width: 85%
    }

}