.navbar-default{
	background-color: #f8f8f8;
}
.navbar-fixed-top {
	top:0;
	height: 60px;
	border-width: 0 0 1px;
}
.navbar-toggle {
    position: relative;
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: white;
}
.navbar-nav li {
    font-size: 18px;
    margin-right: 20px;
    margin-top: 5px;
    font-weight: bold;
}
@media screen and (max-width: 766px) {
    #mainNavBar {
        background-color: black;
    }
}
html, body {
    overflow-x:hidden; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    min-width: 100%;
}
tab {
    padding-left: 1em;
}
tab1 {
    padding-left: 2em;
}
#header {
    font-size: 24px;
    text-decoration: underline;
    font-weight: bold;
    font-family: open sans,'Lato',sans-serif,georgia;
}
#center {
    display: flex;
    justify-content: center;
}
#inverse {
    color:white;
    text-shadow: 1.2px 1.2px black;
}
#title {
    text-align: center;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 35px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}
#titleinverse {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 35px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}
.titledescrip {
    display: block;
    font-size: 18px;
    font-family: open sans,'Lato',sans-serif,georgia;
    text-align: center;
    padding-bottom: 35px;
}
#headerband {
    height: 12px;
    width: 50%;
    background-color: rgba(0,20,100,1);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 40px;
}
#skills-bar{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    justify-content:space-between;
}
#titleband{
    height: 6px;
    width: 15%;
    background-color: teal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#aboutme {
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
}
#backdrop {
    background-image: url("images/coding.jpeg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.row {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("images/coverpic.jpeg");
    background-size: cover;
}

.row2 {
    padding-top: 55px;
    padding-bottom: 100px;
    background:rgba(0,20,100,0.4);
}
.row3 {
    padding-top: 55px;
    padding-bottom: 100px;
    background:rgba(0,155,155,0.4);

}
.row4 {
    padding-top: 55px;
    padding-bottom: 80px;
    background-color: white;
}
.intro {
    font-size: 80px;
    font-family: 'Lato',open sans,sans-serif,georgia;
    display: block;
    text-align: center;
}
.introdescrip {
    display: block;
    font-size: 28px;
    font-weight: bold;
    font-family: open sans,'Lato',sans-serif,georgia;
    text-align: center;
}
#shadow {
    color: black;
    text-shadow: 1.2px 1.2px transparent;
}
.descrip {
    display: block;
    font-size: 18px;
    font-family: 'Lato',sans-serif,georgia;
    text-align: left;
    padding-bottom: 35px;
    padding-top: 20px;
}
#projtitle {
    font-size: 30px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}
#projband{
    height: 6px;
    width: 15%;
    background-color: teal;
    margin-top: -10px;
    margin-bottom: 10px;
}
#projdescrip {
    padding-left: 30px;
    font-size: 20px;
    font-family: 'Lato',open sans,sans-serif,georgia;
}
.allprojects{
    padding-top: 50px;
}
.btn-default {
    color: darkblue;
    border-width: 2px;
}
.btn-default:hover {
    color: black;
    border-width: 2px;
    background-color: rgba(100,40,40,0.4);
}
#card2{
    display:none;
}
#cards-bar {
    display: flex;
    padding-top: 60px;
    padding-left: 40px;
}
#socialWrapper {
    display:flex;
    justify-content:space-between;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}
#footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 180px;
}
#inversefooter {
    color:white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
    text-shadow: 1.2px 1.2px black;
}
#stayintouch {
    padding-top: 150px;
    padding-bottom: 10px;
    background:rgba(10,50,100,0.2);
}
#buttons-bar{
    display: flex;
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
    justify-content:space-between;
}
@media screen and (max-width: 990px){
    tab2 {
        padding-left: 4em;
    }
    #socialWrapper {
        max-width: 50%
    }
    #buttons-bar{
        max-width: 65%;
    }
    #card {
        display: none;
    }
    #card2 {
        padding-top: 40px;
        padding-left: 50px;
        display: block;
    }
     #cards-bar{
        padding-top: 30px;
        padding-right: 15px;
        padding-left: 60px;
     }
     #projdescrip{
        padding-left: 5px;
        padding-right: 5px;
     }
     #aboutme {
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media screen and (max-width: 750px){
     .intro {
        font-size: 60px;
    }
    tab1 {
        padding-left: 2em;
    }

    .row{
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #socialWrapper {
        max-width: 55%
    }
    #endquote {
        font-size: 20px;
    }
    #row2{
        padding-right: 10px;
        padding-left: 10px; 
    }
    #row4{
        font-size: 16px;
    }
    #button{
        width: 110px;
    }
    #title, #titleinverse{
        font-size: 26px;
    }
    #cards-bar, #card2 {
        padding-left: 25px;
    }
}
@media screen and (max-width: 550px){
     #aboutme {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 18px;
    }
    .intro {
        font-size: 50px;
    }
    #headerband{
        width: 70%;
    }
    #projtitle {
        font-size: 22px;
    }
    .introdescrip, #projdescrip {
        font-size: 17px;
    }
    .row{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #socialWrapper {
        max-width: 65%;
    }
    #cards-bar, #card2 {
        padding-left: 10px;
    }
}
@media screen and (max-width: 400px){
    #headerband{
        width: 80%;
    }
    #socialWrapper {
        max-width: 85%
    }

}