<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anthony Chan - Software Developer</title>
	<meta name="description" content="Anthony Chan - Software Developer">
	<!--Icons-->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
	<!--Bootstrap & FontAwesome Frameworks-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/2700308b66.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>﻿
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--Google Analytics-->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89594550-1', 'auto');
  ga('send', 'pageview');

</script>
	<!--Page specific stylesheets-->
	<link rel="stylesheet" href="../static/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans" rel="stylesheet">

</head>
<body>
	<!--Nav bar-->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="../index.html" class="navbar-brand"><img alt="ANTHONY CHAN" src="../static/images/favicon.png" height="30" width="35"></a>

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="./aboutpage.html">About</a></li>
					<li><a href="./projectpage.html">Projects</a></li>
					<li><a href="../static/resume/anthony_chan_resume.pdf">Resume</a></li>
					<li><a href="https://anthonyc1.github.io/../index.html#stayintouch">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--Container for main site-->
	<div class="container" id="home">
		<div class="row">
			<div id="headerband"></div>
			<p class="intro"><strong>more about Anthony</strong></p>
			<p class="introdescrip">Pianist | Runner</p>
			<div id="headerband"></div>

			<!--About Me Section-->
			<div class="row2">
			<div id="aboutme">
			<p id="title">the full scoop:</p>
			<div id="titleband"></div>
			<p class="descrip"><tab1>During my free time, I like to devote a significant portion to <strong>productivity</strong>: working on projects I find interesting and learning as much as possible. Check out my GitHub to see what I've been working on!<br><tab1>For the remainder of my free time, I like keep a <strong>balanced lifestyle</strong>: spend time with friends and family, stay healthy (sleep, fitness, and diet), and pursue my hobbies.
			</p>
			<p id="title">i'm a pianist:</p>
			<div id="titleband"></div>
			<p class="descrip"><tab1>Some of my favorite pieces to play are the classical ones! I do, however, also learn to play the occasional pop song. For those who's interested, <strong>my classical repertoire</strong> currently consists of:<br><br>
				<tab2>•<tab>Beethoven's "Fur Elise"<br>
				<tab2>•<tab>Beethoven's "Moonlight Sonata (Mvt.1)"<br>
				<tab2>•<tab>Yiruma's "River Flow In You"<br><br>
			<tab1>I am currently working on several other classical pieces: Bach's "Air in G Minor," and Mozart's "Fantasy in D minor".</p>
			<p id="title">staying active:</p>
			<div id="titleband"></div>
			<p class="descrip"><tab1>I love staying active. Even during busy weeks, I try to run several times a week. I know the importance of keeping fit especially for a computer science major, because on a typical day, I would be seated for hours, either in class or in front of my laptop, doing programming.<br>
			<tab1>I usually run indoors in my university's recreational center during the cold season and I run outdoors during the warm. Not only do I break a good sweat each time, but I also feel fantastic afterwards. In addition, I like to do calesthenics, weight training, and occasionally practice martial arts.
			</p>
			</div>
		</div>
			<div id="back"><a href="../index.html">&lt;&lt; back to home</a></div>
		</div>
	</div>
	<hr>
	<div class="row4">
		<blockquote id="endquote">"I'm from NYC, the city that never sleeps."</blockquote>
	</div>
	<center>&copy 2017 Anthony Chan</center>
</body>
</html>