<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anthony Chan - Software Developer</title>
	<meta name="description" content="Anthony Chan - Software Developer">
	<!--Icons-->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
	<!--Bootstrap & FontAwesome Frameworks-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/2700308b66.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>﻿
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--Google Analytics-->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89594550-1', 'auto');
  ga('send', 'pageview');

</script>
	<!--Page specific stylesheets-->
	<link rel="stylesheet" href="../static/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans" rel="stylesheet">

</head>
<body>
	<!--Nav bar-->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="../index.html" class="navbar-brand"><img alt="ANTHONY CHAN" src="../static/images/favicon.png" height="30" width="35"></a>

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="./aboutpage.html">About Me</a></li>
					<li><a href="./projectpage.html">Projects</a></li>
					<li><a href="../static/resume/anthony_chan_resume.pdf">Resume</a></li>
					<li><a href="https://anthonyc1.github.io/../index.html#stayintouch">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--Container for main site-->
	<div id="home">
		<div class="row">
			<div id="headerband"></div>
			<p class="intro"><strong>my lifestyle</strong></p>
			<p class="introdescrip">Pianist | Runner</p>
			<div id="headerband"></div>
		</div>

			<!--About Me Section-->
			<div class="row3">
			<div id="aboutme">
			<p id="title">the full scoop:</p>
			<div id="titleband"></div>
			<p class="descrip"><tab1>I like to have balance in my life because it means I am fulfilling as many of my needs as possible. As a student and programmer, I spend most of my time learning computer science or applied math, and working on programming projects. I strongly believe in the balance of learning new things and applying what I've learned. I need both to progress and achieve my goals.<br>
			<tab1>When I'm not working, I pursue my hobbies which are piano and fitness. Both supplement my lifestyle by giving me the added mental stimulation and physical activity (intense piano-playing can be like a workout sometimes!). Otherwise, I'd be spending time with family, relaxing with friends, discussing programming concepts with fellow programmers, and having my regular dose of Reddit, YouTube, and Facebook.
			</p>
			<p id="title">i'm a pianist:</p>
			<div id="titleband"></div>
			<p class="descrip"><tab1>I picked up piano during the end of my sophomore year in college because I've simply always wanted to play the piano. While I did most of my piano learning on my own with the help of online resources, I did benefit from the help of friends and a wonderful music teacher at Stony Brook. Every week, I make time for piano practice and I enjoy it so much. My current repertoire is a mix of classical and pop songs, although my main focus is classical music.<br>
			For those who's interested, my classical repertoire currently consists of:<br>
				<tab2>•<tab>Beethoven's "Fur Elise"<br>
				<tab2>•<tab>Beethoven's "Moonlight Sonata (Mvt.1)"<br>
				<tab2>•<tab>Yiruma's "River Flow In You"<br><br>
			<tab1>I am always working on a new piece in my free time. For now, the pieces I'm currently working on include several other classical pieces:<br>
				<tab2>•<tab>Liszt's "Liebestraum"<br>
				<tab2>•<tab>Mozart's "Fantasy in D minor"</p>
			<p id="title">staying active:</p>
			<div id="titleband"></div>
			<p class="descrip"><tab1>The first thing I do every morning is to put on my running shoes. I love staying active and go to the fitness center many times a week. Staying fit is very important for my health and it also is a great way to feel refreshed and energized to be productive!
			<br><tab1>Because I sit for so much of the day (coding, learning in class, or playing the piano), I value my time in the gym because it gets my blood flowing, heart pumping, and mind going. My usual activities in the gym include running, weight training, and martial arts.<br>
			<tab1>My personal mantra is "always take the stairs"!
			</p>
			</div>
			<a href="../index.html"><button id="button" class="button2"><span> Go back</span></button></a>
		</div>
	</div>
	
	<div class="row4"  id="inverse">
		<blockquote id="endquote">"I'm from NYC, the city that never sleeps."</blockquote>
		<center>Copyright &copy 2017 Anthony Chan</center>
	</div>
</body>
</html>