<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anthony Chan - Software Developer</title>
	<meta name="description" content="Anthony Chan - Software Developer">
	<!--Icons-->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
	<!--Open graph tags-->
	<meta property="og:title" content="Anthony Chan - Software Developer">
	<meta property="og:site_name" content="Anthony Chan - Software Developer">
	<meta property="og:url" content="http://anthonychan.github.io" >
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://anthonychan.github.io/assets/images/profile.png">
	<meta property="og:description" content="Website of aspiring software developer based in New York City">
	<!--Twitter card tags-->
	<meta name="twitter:card" content="summary" >
	<meta name="twitter:title" content="Anthony Chan - Software Developer">
	<meta name="twitter:description" content="Website of aspiring software developer based in New York City">
	<meta name="twitter:url" content="http://anthonychan.github.io">
	<meta name="twitter:image" content="http://anthonychan.github.io/assets/images/profile.png">
	<!--Bootstrap & FontAwesome Frameworks-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/2700308b66.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>﻿
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--Google Analytics-->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89594550-1', 'auto');
  ga('send', 'pageview');

</script>
	<!--Page specific stylesheets-->
	<link rel="stylesheet" href="../static/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans" rel="stylesheet">

</head>
<body>
	<!--Nav bar-->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="./index.html" class="navbar-brand"><img alt="ANTHONY CHAN" src="../static/images/favicon.png" height="30" width="35"></a>

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="./aboutpage.html">About</a></li>
					<li><a href="./projectpage.html">Projects</a></li>
					<li><a href="#">Resume</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--Container for main site-->
	<div class="container" id="home">
		<div class="row">
			<div id="headerband"></div>
			<p class="intro"><strong>learn about Anthony</strong></p>
			<div id="socialWrapper">
				<div id="socialicon">
				<a href="https://github.com/anthonyc1" target="_blank"><i class="fa fa-github-square fa-3x" style="color:#292a2b"></i></a></div>
				<div id="socialicon">
				<a href="https://www.linkedin.com/in/anthonychan0123" target="_blank"><i class="fa fa-linkedin-square fa-3x" style="color:#292a2b"></i></a></div>
				<div id="socialicon">
				<a href="https://www.facebook.com/iamanthonyc1" target="_blank"><i class="fa fa-facebook-square fa-3x" style="color:#292a2b"></i></a></div>
				<div id="socialicon">
				<a href='mai&#108;to&#58;a&#110;t&#104;%6Fny&#99;&#104;an&#48;%31&#50;3&#64;gm&#97;il&#46;c%&#54;Fm'&#97;nthon&#121;&#99;han012&#51;&#64;gma&#105;&#108;&#46;c&#111;&#109;><i class="fa fa-envelope-square fa-3x" aria-hidden="true" style="color:#292a2b" target="_blank"></i></a></div>
			</div>
			<div id="headerband"></div>
			<!--About Me Section-->
			<div id="aboutme">
			<p id="title">the full scoop:</p>
			<div id="titleband"></div>
			<p class="descrip">Again, I am an aspiring <strong>software developer</strong> based in NYC, and an undergraduate computer science major at <strong>Stony Brook University</strong>.<br>
			During my free time, I like to devote a significant portion to <strong>productivity</strong>: working on projects I find interesting and learning as much as possible. Check out my GitHub to see what I've been working on!<br>For the remainder of my free time, I like to use to spend time with friends and family, maintain a healthy lifestyle, and do my hobbies.
			</p>
			<p id="title">i'm pianist:</p>
			<div id="titleband"></div>
			<p class="descrip">Some of my favorite pieces to play are the classical ones! I do, however, also learn to play the occasional pop song.<br>
			For those who's interested, my classical repertoire currently consists of:<br>-Beethoven's "Fur Elise"<br>-Beethoven's "Moonlight Sonata Mvt.1"<br>
			I am currently learning Yiruma's "River Flow In You," a very beautiful piece.</p>
			<p id="title">staying active:</p>
			<div id="titleband"></div>
			<p class="descrip">I know the importance of keeping fit especially for a computer science major. It's typical for me to sit front of a computer for hours a day.<br>
			To stay active, I run, multiple times a week if I can. I run indoors in the rec center during the cold season and outdoors during the warm. Not only do I break a good sweat each time, I also feel fantastic afterwards.
			</p>
			
			<div id="back"><a href="./index.html">&lt;&lt;go back</a></div>
			</div>
		</div>	

		</div>
	</div>
</body>
</html>