<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anthony Chan - Software Developer</title>
	<meta name="description" content="Anthony Chan - Software Developer">
	<!--Icons-->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
	<!--Bootstrap & FontAwesome Frameworks-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/2700308b66.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>﻿
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--Google Analytics-->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89594550-1', 'auto');
  ga('send', 'pageview');

</script>
	<!--Page specific stylesheets-->
	<link rel="stylesheet" href="../static/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans" rel="stylesheet">

</head>
<body>
	<!--Nav bar-->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="../index.html" class="navbar-brand"><img alt="ANTHONY CHAN" src="../static/images/favicon.png" height="30" width="35"></a>

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="./aboutpage.html">About</a></li>
					<li><a href="./projectpage.html">Projects</a></li>
					<li><a href="../static/resume/anthony_chan_resume.pdf">Resume</a></li>
					<li><a href="https://anthonyc1.github.io/../index.html#stayintouch">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--Container for main site-->
	<div id="home">
		<div class="row">
			<div id="headerband"></div>
			<p class="intro"><strong>Anthony's projects</strong></p>
			<p class="introdescrip">Personal Projects | Hackathon Projects | Class Projects</p>
			<div id="headerband"></div>
		</div>
			<!--Project Section-->
			<div class="row3">
			<div class="allprojects"></div>
			<p id="title">projects i've done:</p>
			<div id="titleband"></div>
			<p class="titledescrip">Here's more of them!</p>

			<!-- First Project -->
			<div class="col-md-3" id="card2"><img src="../static/images/musicmentoricon.png" class="img-responsive" width="300px"></div>
			<div id="cards-bar">
				<div class="col-md-3" id="card"><img src="../static/images/musicmentoricon.png" class="img-responsive" width="400px"></div>
				<div class="col-md-8" id="projdescrip">
					<p id="projtitle">Music Mentor</p>
					<div id="projband"></div>
					<p>Jan-Feb '17 | JavaScript, Node.js, Python, Flask, HTML, CSS<br>
					<em>Personal project</em><br>
					•<tab>A frontend/backend development project consisting of a Facebook Messenger chat bot and a python web application that seeks to help users learn basic music theory.<br>
					•<tab>Implemented Node.js backend and Messenger platform capabilities for the bot. Created web app with Flask web framework for compatibility with my Python algorithms.
					</p><br>
					</div>
			</div>
			<div id="buttons-bar">
				<a href="https://github.com/anthonyc1/music-mentor-bot" target="_blank"><button type="button" class="btn btn-default"><i class="fa fa-github" aria-hidden="true"> View on GitHub</i></button></a><a href="https://musicmentorapp.herokuapp.com" target="_blank"><button type="button" class="btn btn-default"><i class="fa fa-laptop" aria-hidden="true"> Visit Web App</i></button></a></div>
			<p></p>

			<!-- Next Project -->
			<div class="col-md-3" id="card2"><img src="../static/images/portfolio.png" class="img-responsive" width="300px"></div>
			<div id="cards-bar">
				<div class="col-md-3" id="card"><img src="../static/images/portfolio.png" class="img-responsive" width="400px"></div>
				<div class="col-md-8" id="projdescrip">
					<p id="projtitle">Portfolio</p>
					<div id="projband"></div>
					<p>Fall '16 - present | Python, Java (so far)<br>
					<em>Personal projects, experiments, and everything else</em><br>
					•<tab>A portfolio of miscellaneous work I've done to learn something new or to implement something interesting.
					</p><br>
				</div>
			</div>
				<center><a href="https://github.com/anthonyc1/portfolio" target="_blank"><button type="button" class="btn btn-default"><i class="fa fa-github" aria-hidden="true"> View on GitHub</i></button></a></center>
			<p></p>

			<!-- Next Project -->
			<div class="col-md-3" id="card2"><img src="../static/images/collegecare.png" class="img-responsive" width="300px"></div>
			<div id="cards-bar">
			<div class="col-md-3" id="card"><img src="../static/images/collegecare.png" class="img-responsive" width="400px"></div>
				<div class="col-md-8" id="projdescrip">
					<p id="projtitle">CollegeCare</p>
					<div id="projband"></div>
					<p>Feb '17 | HTML, CSS, Bootstrap, Python, Flask, SQLite3<br>
					<em>Making College Possible Coding Challenge (team of 2)</em><br>
					•<tab>A full-stack web application that provides valuable resources, mentoring opportunities, and an open forum to aid students to find an affordable college education in New York State.<br>
					•<tab>Created frontend UI, designed graphics, and wrote content. Collaborated on backend and database.
					</p><br>
				</div>
			</div>
			<div id="buttons-bar">
				<a href="https://github.com/anthonyc1/excelsior-hack" target="_blank"><button type="button" class="btn btn-default"><i class="fa fa-github" aria-hidden="true"> View on GitHub</i></button></a><a href="https://collegecare.herokuapp.com" target="_blank"><button type="button" class="btn btn-default"><i class="fa fa-laptop" aria-hidden="true"> Visit Web App</i></button></a></div>
				<p></p>

			<!-- Next Project -->
			<div class="col-md-3" id="card2"><img src="../static/images/zerowaste.png" class="img-responsive" width="300px"></div>
			<div id="cards-bar">
				<div class="col-md-3" id="card"><img src="../static/images/zerowaste.png" class="img-responsive" width="400px"></div>
				<div class="col-md-8" id="projdescrip">
					<p id="projtitle">Zero Waste</p>
					<div id="projband"></div>
					<p>Jan '17 | HTML, CSS, JavaScript, d3.js<br>
					<em>Social Hack Day (team of 3)</em><br>
					•<tab>A website that aims to help consumers in NYC reduce their electronic wastes to ideally “zero”.<br>
					•<tab>Created frontend UI.
					</p><br>
				</div>
			</div>
				<center><a href="https://github.com/anthonyc1/Social-Hacks-17" target="_blank"><button type="button" class="btn btn-default"><i class="fa fa-github" aria-hidden="true"> View on GitHub</i></button></a></center>
			<p></p>

			<!-- Next Project -->
			<div class="col-md-3" id="card2"><img src="../static/images/exercisecounter.png" class="img-responsive" width="300px"></div>
			<div id="cards-bar">
				<div class="col-md-3" id="card"><img src="../static/images/exercisecounter.png" class="img-responsive" width="400px"></div>
				<div class="col-md-8" id="projdescrip">
					<p id="projtitle">Exercise Counter</p>
					<div id="projband"></div>
					<p>Oct '16 | Arduino<br>
					<em>HACKfEAT Hackathon (team of 2)</em><br>
					•<tab>A device made of LittleBits that counts the number of exercise repetitions a user does.<br>
					•<tab>Assembled device and wrote code for Arduino.
					</p><br>
				</div>
			</div>
				<center><a href="https://github.com/anthonyc1/ExerciseCounter" target="_blank"><button type="button" class="btn btn-default"><i class="fa fa-github" aria-hidden="true"> View on GitHub</i></button></a></center>
				<p></p>
			<a href="../index.html"><button id="button" class="button2"><span> Go back</span></button></a>
		</div>

		<!-- << Back to Home -->
		
	</div>
		</div>

	</div>
	<div class="row4"  id="inverse">
		<blockquote id="endquote">"My attitude in life? One <strong>hack</strong> at a time."</blockquote>
		<center>Copyright &copy 2017 Anthony Chan</center>
	</div>
</body>
</html>